<!-- Property Bind exemplo [src]="alguma_coisa"-->
<!--<img [src]="coracaoCheio"> 
<img [src]="coracaoCheio">
<img [src]="coracaoCheio">-->

<img *ngFor="let coracao of coracoes" [src]="coracao.exibeCoracao()"/>